In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/03/08 18:29:48 WARN Utils: Your hostname, MacBook-Air-de-Lucas.local resolves to a loopback address: 127.0.0.1; using 192.168.1.108 instead (on interface en0)
23/03/08 18:29:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/lukas17e/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/03/08 18:29:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/08 18:29:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/03/08 18:29:51 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.registerTempTable('green')

/Users/lukas17e/opt/anaconda3/lib/python3.9/site-packages/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [4]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [5]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-08 15:01:13|  2020-01-08 15:12:35|                 N|         1|          97|          61|              1|         2.18|       10.0|  0.0|    0.5|       2.7|         0.0|     null|                  0.3|        13.5|           1|        1|                 0.0|
|    null| 2020-01-27 16:04:00|  2020-01-27 16:43:00|              null|      null|         231|          62|           null|         6.38|      26.16| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|       29.21|        null|     null|                null|
|    null| 2020-01-11 11:03:00|  2020-01-11 11:29:00|              null|      null|         222|          36|           null|         3.95|      17.68|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|       18.48|        null|     null|                null|
|    null| 2020-01-26 12:13:00|  2020-01-26 12:16:00|              null|      null|         174|         174|           null|         0.39|      11.13|  5.5|    0.0|       0.0|         0.0|     null|                  0.3|       16.93|        null|     null|                null|
|       2| 2020-01-22 03:48:21|  2020-01-22 03:53:42|                 N|         1|         260|          83|              1|         0.98|        5.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|           2|        1|                 0.0|
|    null| 2020-01-02 11:09:00|  2020-01-02 11:49:00|              null|      null|          75|         203|           null|        19.09|       48.5| 2.75|    0.0|       0.0|        6.12|     null|                  0.3|       57.67|        null|     null|                null|
|       2| 2020-01-09 09:06:23|  2020-01-09 09:12:18|                 N|         5|           7|         193|              1|         1.08|        9.0|  0.0|    0.0|       1.0|         0.0|     null|                  0.3|       12.25|           1|        1|                 0.0|
|       2| 2020-01-03 10:45:17|  2020-01-03 11:02:58|                 N|         1|          43|         142|              1|         2.85|       14.0|  0.0|    0.5|      3.51|         0.0|     null|                  0.3|       21.06|           1|        1|                2.75|
|       2| 2020-01-04 15:18:15|  2020-01-04 15:29:41|                 N|         1|          74|         168|              1|         2.34|       10.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        11.3|           2|        1|                 0.0|
|       2| 2020-01-25 17:09:50|  2020-01-25 17:38:22|                 N|         1|         244|         161|              1|         8.25|       28.5|  0.0|    0.5|      6.41|         0.0|     null|                  0.3|       38.46|           1|        1|                2.75|
|       2| 2020-01-24 18:37:58|  2020-01-24 18:47:11|                 N|         1|          75|         238|              2|         1.33|        7.5|  1.0|    0.5|      1.45|         0.0|     null|                  0.3|        13.5|           1|        1|                2.75|
|       2| 2020-01-18 18:21:38|  2020-01-18 18:32:12|                 N|         1|          74|         236|              1|         2.22|        9.5|  0.0|    0.5|       2.0|         0.0|     null|                  0.3|       15.05|           1|        1|                2.75|
|    null| 2020-01-09 11:39:00|  2020-01-09 12:12:00|              null|      null|         210|          35|           null|          8.6|      24.26|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|       25.06|        null|     null|                null|
|       2| 2020-01-06 10:10:49|  2020-01-06 10:34:34|                 N|         1|         130|          19|              1|         7.21|       24.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        25.3|           1|        1|                 0.0|
|       1| 2020-01-05 12:22:38|  2020-01-05 12:36:48|                 N|         1|          66|         255|              1|          3.6|       13.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        13.8|           2|        1|                 0.0|
|       2| 2020-01-01 14:52:37|  2020-01-01 15:09:30|                 N|         1|          66|          13|              1|         3.67|       15.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|       19.05|           2|        1|                2.75|
|       2| 2020-01-07 21:59:01|  2020-01-07 22:10:21|                 N|         1|          74|         238|              1|         2.99|       11.5|  0.5|    0.5|      3.11|         0.0|     null|                  0.3|       18.66|           1|        1|                2.75|
|       1| 2020-01-13 16:10:23|  2020-01-13 16:28:03|                 N|         1|          75|          75|              1|          2.8|       13.5|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|        15.3|           3|        1|                 0.0|
|    null| 2020-01-03 17:24:00|  2020-01-03 18:01:00|              null|      null|         165|         180|           null|        -7.58|      33.59|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|       34.39|        null|     null|                null|
|       2| 2020-01-18 14:28:50|  2020-01-18 14:34:11|                 N|         1|         193|         193|              1|         0.82|        5.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [8]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [6]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [7]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [9]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [ ]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [10]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [11]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [12]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  10|              null|                null|             42.41|                    2|
|2020-01-01 00:00:00|  12|              null|                null|             107.0|                    6|
|2020-01-01 00:00:00|  15|              null|                null|             34.09|                    1|
|2020-01-01 00:00:00|  24|              87.6|                   3| 754.9500000000002|                   45|
|2020-01-01 00:00:00|  32| 68.94999999999999|                   2|              18.0|                    1|
|2020-01-01 00:00:00|  34|              null|                null|              19.3|                    1|
|2020-01-01 00:00:00|  40|            168.98|                   8|             89.97|                    5|
|2020-01-01 00:00:00|  42| 799.7599999999998|                  52| 635.3500000000003|                   46|
|2020-01-01 00:00:00|  51|              17.8|                   2|              31.0|                    1|
|2020-01-01 00:00:00|  55|129.29000000000002|                   4|              null|                 null|
|2020-01-01 00:00:00|  61|            526.71|                  17|            146.64|                    3|
|2020-01-01 00:00:00|  66|386.75000000000006|                  18|            260.55|                   10|
|2020-01-01 00:00:00|  69|              11.8|                   1|            106.52|                    4|
|2020-01-01 00:00:00|  77| 75.99000000000001|                   2|            134.24|                    3|
|2020-01-01 00:00:00|  80|364.32000000000005|                  13|371.40000000000003|                   20|
|2020-01-01 00:00:00|  87|              null|                null|2456.6699999999987|                  112|
|2020-01-01 00:00:00|  89|              11.3|                   1|             48.16|                    2|
|2020-01-01 00:00:00|  95|202.20000000000005|                  15|               6.3|                    1|
|2020-01-01 00:00:00| 113|              null|                null| 3984.319999999998|                  220|
|2020-01-01 00:00:00| 114|              null|                null| 6256.430000000008|                  333|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [14]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [15]:
df_join = spark.read.parquet('data/report/revenue/total')

In [ ]:
df_join

In [ ]:
df_zones = spark.read.parquet('zones/')

In [ ]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [ ]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')