## Week 5 Homework 

In this homework we'll put what we learned about Spark in practice.

For this homework we will be using the FHVHV 2021-06 data found here. [FHVHV Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz )


### Question 1: 

**Install Spark and PySpark** 

- Install Spark
- Run PySpark
- Create a local spark session
- Execute spark.version.

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('homework') \
    .getOrCreate()

In [6]:
spark.version

'3.2.1'

What's the output?
- 3.3.2 :white_check_mark:
- 2.1.4
- 1.2.3
- 5.4
</br></br>

### Question 2: 

**HVFHW June 2021**

Read it with Spark using the same schema as we did in the lessons.</br> 
We will use this dataset for all the remaining questions.</br>
Repartition it to 12 partitions and save it to parquet.</br>
What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.</br>

In [12]:
!wget 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz'

--2023-03-07 18:09:34--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 20.201.28.151
Connecting to github.com (github.com)|20.201.28.151|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230307T210935Z&X-Amz-Expires=300&X-Amz-Signature=939a4a6e2283671f818ed9baa2177cde652a9145b8e4b8f81fcf54fc8716076e&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-07 18:09:34--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230307T210935Z&X-Amz-Expires=300&X-Amz-Signature=939a4a6e2283671f818ed9baa2177cde652a9145b8e4b8f81fcf54fc8716076e&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: 'fhvhv_tripdata_2021-06.csv.gz'

fhvhv_tripdata_2021 100%[===================>] 167.66M  9.44MB/s    in 36s

2023-03-07 18:10:11 (4.66 MB/s) - 'fhvhv_tripdata_2021-06.csv.gz' saved [175799316/175799316]

In [15]:
!wc -l fhvhv_tripdata_2021-06.csv.gz

  651315 fhvhv_tripdata_2021-06.csv.gz

In [7]:
import pandas as pd

In [16]:
df_pandas = pd.read_csv('fhvhv_tripdata_2021-06.csv.gz', nrows=100)

In [17]:
df_pandas.head()

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
1,B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
2,B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
3,B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
4,B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,NaN

In [19]:
df_pandas = pd.read_csv('fhvhv_tripdata_2021-06.csv.gz',
                        parse_dates=["pickup_datetime","dropoff_datetime"], 
                        nrows=1000)

In [20]:
df_pandas.dtypes

dispatching_base_num              object
pickup_datetime           datetime64[ns]
dropoff_datetime          datetime64[ns]
PULocationID                       int64
DOLocationID                       int64
SR_Flag                           object
Affiliated_base_number            object
dtype: object

In [23]:
df_pandas.isnull().sum()

dispatching_base_num        0
pickup_datetime             0
dropoff_datetime            0
PULocationID                0
DOLocationID                0
SR_Flag                     0
Affiliated_base_number    265
dtype: int64

In [25]:
df_pandas = df_pandas[df_pandas['Affiliated_base_number'].notna()]

In [26]:
spark.createDataFrame(df_pandas)

DataFrame[dispatching_base_num: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: bigint, DOLocationID: bigint, SR_Flag: string, Affiliated_base_number: string]

In [27]:
spark.createDataFrame(df_pandas).schema

StructType(List(StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,TimestampType,true),StructField(dropoff_datetime,TimestampType,true),StructField(PULocationID,LongType,true),StructField(DOLocationID,LongType,true),StructField(SR_Flag,StringType,true),StructField(Affiliated_base_number,StringType,true)))

In [28]:
from pyspark.sql import types

In [29]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime', types.TimestampType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

In [32]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

In [33]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764|
|              B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|                B02764|
|              B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|                B02764|
|              B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|                B02764|
|              B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|                  null|
|              B02510|2021-06-01 00:18:15|2021-06-01 00:25:47|          49|          17|      N|                  null|
|              B02510|2021-06-01 00:33:06|2021-06-01 00:42:46|          49|         225|      N|                  null|
|              B02510|2021-06-01 00:46:27|2021-06-01 00:56:50|         225|         177|      N|                  null|
|              B02764|2021-06-01 00:48:06|2021-06-01 01:04:10|         209|          45|      N|                B02764|
|              B02875|2021-06-01 00:18:54|2021-06-01 00:26:14|          80|         256|      N|                B02875|
|              B02875|2021-06-01 00:31:02|2021-06-01 00:36:39|         217|          17|      N|                B02875|
|              B02875|2021-06-01 00:41:53|2021-06-01 01:07:32|          17|         265|      N|                B02875|
|              B02875|2021-06-01 00:29:52|2021-06-01 00:54:41|         210|          76|      N|                B02875|
|              B02510|2021-06-01 00:15:57|2021-06-01 00:39:36|         226|         213|      N|                  null|
|              B02510|2021-06-01 00:11:59|2021-06-01 00:23:32|         191|           9|      N|                  null|
|              B02510|2021-06-01 00:30:35|2021-06-01 00:45:35|          16|         250|      N|                  null|
|              B02510|2021-06-01 00:49:01|2021-06-01 01:03:50|         182|         259|      N|                  null|
|              B02510|2021-06-01 00:07:36|2021-06-01 00:21:13|         188|          72|      N|                  null|
|              B02510|2021-06-01 00:25:48|2021-06-01 00:40:43|          39|          72|      N|                  null|
|              B02510|2021-06-01 00:46:11|2021-06-01 00:53:39|          72|          35|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [34]:
df.head(5)

[Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 2, 41), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 7, 46), PULocationID=174, DOLocationID=18, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 16, 16), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 21, 14), PULocationID=32, DOLocationID=254, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 27, 1), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 42, 11), PULocationID=240, DOLocationID=127, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 46, 8), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 53, 45), PULocationID=127, DOLocationID=235, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 45, 42), dropoff_datetime=datetime.datetime(2021, 6, 1, 1, 3, 33), PULocationID=144, DOLocationID=146, SR_Flag='N', Affiliated_base_number=None)]

In [35]:
df = df.repartition(12)

In [36]:
df.write.parquet('fhvhv/2021/06/')

In [37]:
df = spark.read.parquet('fhvhv/2021/06/')

In [38]:
!ls -lh fhvhv/2021/06 | grep -v crc

total 591360
-rw-r--r--  1 lukas17e  staff     0B Mar  7 18:49 _SUCCESS
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00000-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00001-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00002-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00003-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00004-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00005-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00006-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00007-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00008-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00009-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00010-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet
-rw-r--r--  1 lukas17e  staff    24M Mar  7 18:49 part-00011-58af1777-d4c0-4ad8-ac53-f504e644f802-c000.snappy.parquet

- 2MB
- 24MB :white_check_mark:
- 100MB
- 250MB
</br></br>