In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/03/08 17:13:58 WARN Utils: Your hostname, MacBook-Air-de-Lucas.local resolves to a loopback address: 127.0.0.1; using 192.168.1.108 instead (on interface en0)
23/03/08 17:13:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/lukas17e/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/03/08 17:14:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/08 17:14:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [5]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [6]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [7]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [8]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [9]:
from pyspark.sql import functions as F

In [10]:
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

In [11]:
df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [12]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [13]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649878|
+------------+--------+

In [14]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [15]:
df_trips_data.registerTempTable('trips_data')

/Users/lukas17e/opt/anaconda3/lib/python3.9/site-packages/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [16]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649878|
+------------+--------+

In [17]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [18]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          74|2020-01-01 00:00:00|       green|   376352.9000000021|              17171.5|                16234.5|        41357.130000000434|           6942.939999999899|                    10111.49999999885|          488720.66999983916|                            24845.25|        1.3112244897959184|      2.3658925852172903|
|          80|2020-01-01 00:00:00|       green|   40295.91000000002|              1360.25|                  736.5|         4232.540000000001|           628.6800000000002|                    566.4000000000054|          48939.580000000526|                              1193.5|         1.448907265209687|       4.101096230158728|
|         157|2020-01-01 00:00:00|       green|             9307.45|                544.0|                  101.0|        269.89000000000004|          200.44000000000005|                   109.79999999999932|          10590.229999999994|                               57.75|        1.2780748663101604|       4.799113300492609|
|         195|2020-01-01 00:00:00|       green|  11358.090000000004|                549.5|                  143.0|         804.6199999999998|          255.07000000000008|                   135.29999999999941|          13429.329999999967|                              129.25|         1.211726384364821|      4.5858476190476205|
|          42|2019-12-01 00:00:00|       green|                 8.0|                  0.5|                    0.5|                      1.86|                         0.0|                                  0.3|                       13.11|                                 0.0|                       1.0|                    1.31|
|         115|2020-02-01 00:00:00|       green|  1223.5399999999997|                 20.0|                   13.5|                       0.0|           298.9000000000001|                    9.900000000000002|          1565.8399999999995|                                 0.0|        1.1724137931034482|      12.094285714285713|
|         163|2020-02-01 00:00:00|       green|   972.2199999999998|                 71.5|                    1.5|                       0.0|                       24.48|                    8.099999999999998|                      1077.8|                                 0.0|                       1.0|       9.730740740740739|
|         216|2020-03-01 00:00:00|       green|   8725.099999999999|                97.25|                   57.0|        49.620000000000005|           271.5300000000001|                   117.29999999999924|           9345.050000000005|                                 5.5|         1.210144927536232|        6.86584183673469|
|          65|2020-10-01 00:00:00|       green|   26929.53000000004|               690.75|                  690.0|        3053.8500000000026|          104.72000000000001|                   501.90000000000765|           32180.64999999977|                              294.25|        1.2285508291276135|      18.202123735871513|
|         241|2020-03-01 00:00:00|       green|   8555.629999999994|                 56.5|                   69.5|                     38.02|          382.96000000000026|                   104.09999999999937|           9266.210000000008|                                2.75|        1.0608108108108107|       6.826011080332408|
|         134|2020-10-01 00:00:00|       green|  11178.409999999998|                173.5|                  198.0|        1080.0600000000004|          253.56000000000006|                   182.69999999999953|          13123.979999999998|                               41.25|        1.5550122249388754|       4.502791461412149|
|         196|2020-02-01 00:00:00|       green|   46279.89999999991|              2149.75|                 1167.0|        1610.1500000000008|           718.9600000000003|                    868.1999999999597|           53012.36000000157|                              217.25|        1.4608510638297871|       3.421681926076636|
|          43|2020-02-01 00:00:00|       green|   48268.54999999999|              2812.25|                 2213.0|        7933.6200000000745|           421.7400000000003|                   1343.6999999998877|           70837.56000000273|                             8733.75|         1.379333633498424|       2.312919902374077|
|          66|2020-03-01 00:00:00|       green|   50428.47000000001|              1743.25|                 1559.5|         8380.940000000013|          147.30000000000004|                    966.5999999999448|           66361.81000000163|                             3545.75|        1.5749284123448934|       4.017902876585208|
|         188|2020-03-01 00:00:00|       green|  20972.960000000025|               204.25|                  225.5|                    217.87|           362.7700000000002|                    373.5000000000084|           22591.09999999976|                                49.5|         1.226829268292683|       4.046947115384618|
|         179|2020-03-01 00:00:00|       green|  14530.520000000002|                433.0|                  479.0|        1082.5700000000013|          198.13000000000008|                    351.6000000000076|           17374.41999999979|                               253.0|        1.4698055271238486|      3.1125488530161447|
|         160|2020-03-01 00:00:00|       green|  2005.5800000000002|                16.25|                   17.5|        26.459999999999997|                       85.68|                    30.60000000000005|                     2206.32|                                8.25|        1.2162162162162162|       4.635686274509803|
|         141|2020-10-01 00:00:00|       green|  1434.1299999999997|                  0.0|                    0.0|                     121.0|           63.99999999999999|                   13.200000000000006|          1632.3299999999995|                                null|                      null|       8.687727272727273|
|         188|2020-01-01 00:00:00|       green|            55506.92|               4163.0|                  596.0|        394.72999999999996|           722.8400000000003|                    708.8999999999838|          62224.390000000145|                               63.25|        1.1921458625525947|       3.930629238884709|
|         118|2020-01-01 00:00:00|       green|              533.73|                 11.5|                    2.0|                       0.0|                       82.58|                   2.6999999999999997|                      632.51|                                 0.0|                       1.4|      17.745555555555555|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [19]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')